@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}
.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.navigation {
  width: 0%;
  background-color: black;
}

.imgbtn {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  position: relative;
  right: -7px;
  bottom: -3px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.45s;
  -webkit-transition: opacity 0.35s;
}

.button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  border-radius: 15px;
  color: #374151;
  font-weight: 600;
  width: 49px;
  background-color: #bc7c7c;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  width: 112px;
  background-color: #a86464;
  cursor: pointer;
}

.button:hover .logout {
  opacity: 0.9;
}

.button {
  text-decoration: none;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensures loader takes full width */
  height: 100%; /* Ensures loader takes full height */
}

.loader {
  max-width: 20px; /* Adjust size of loader */
  max-height: 20px;
}
